@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(https://fonts.gstatic.com/s/playfairdisplay/v14/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e4w.ttf) format('truetype');
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.progress {
  height: 4px;
  width: 0;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.toTop {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 7vh;
  height: 70px;
}
.toTop i {
  font-size: 48px;
  margin: 0 auto;
  display: none;
}
.wrapper {
  max-width: 1650px;
  margin: 0 auto;
  height: 100%;
}
.header {
  height: 100vh;
  background-image: url(../../assets/images/coverBackground.png);
  background-size: cover;
  background-attachment: scroll;
}
.header .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(235, 235, 235, 0.8);
  z-index: 10;
}
.header .bg .navBar {
  display: flex;
  justify-content: space-between;
  padding: 3vh;
}
.header .bg .navBar .navBar-navs {
  display: flex;
}
.header .bg .navBar .navBar-navs .navBar-nav {
  margin-left: 3vh;
}
.header .bg .navBar .navBar-navs .navBar-nav a {
  font-size: 16px;
  color: #6c6a68;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.header .bg .navBar .navBar-navs .navBar-nav a .active {
  color: #2c2a28;
}
.header .bg .navBar .navBar-socialIcons img {
  margin-right: 3vh;
}
.header .bg .navBar .logo {
  margin-right: 10vh;
}
.header .bg .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 80%;
}
.header .bg .header-content .header-content-text {
  text-align: center;
}
.header .bg .header-content .header-content-text h1 {
  color: #c0a064;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: 60px ;
}
.header .bg .header-content .header-content-text h3 {
  color: #6c6a68;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 24px;
  margin-top: 4vh;
}
.header .bg .header-content .header-content-button {
  text-transform: uppercase;
  width: 130px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  margin: 8vh auto;
  position: relative;
  cursor: pointer;
}
.header .bg .header-content .header-content-button a {
  color: #c0a064;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.header .bg .header-content .header-content-button svg {
  position: absolute;
  top: 0;
  left: 0;
}
.header .bg .header-content .header-content-button svg rect {
  stroke: #c0a064;
  stroke-width: 1;
  transition: 0.9s;
  stroke-dasharray: 400,0;
}
.header .bg .header-content .header-content-button:hover svg rect {
  stroke-width: 8;
  stroke-dasharray: 35,245;
  stroke-dashoffset: 40;
}
.recent {
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100%;
  overflow: hidden;
  background-color: #f8f6f4;
}
.recent .recent-title {
  text-align: center;
  padding: 7vh;
}
.recent .recent-title h2 {
  font-size: 46px;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}
.recent .recent-content-cards {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.recent .recent-content-cards .recent-content-middle-card {
  width: 770px;
  height: 770px;
  display: flex;
  margin-right: 3vh;
}
.recent .recent-content-cards .recent-content-smalls-card_02 {
  margin-top: 3vh;
}
.recent .recent-content-cards .recent-content-smalls-card,
.recent .recent-content-cards .recent-content-smalls-card_02 {
  width: 370px;
  height: 370px;
}
.recent .recent-content-cards .recent-content-biggest-card {
  margin-top: 3vh;
}
.collections {
  padding: 10vh;
  display: flex;
}
.collections .collections-title {
  padding: 5vh;
  text-align: center;
}
.collections .collections-title h2 {
  font-size: 46px;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}
.collections .collection-items {
  display: flex;
  flex-direction: column;
}
.collections .collection-items .collection-item {
  display: flex;
}
.collections .collection-items .collection-item .collection-item-image {
  width: 600px;
  height: 400px;
}
.collections .collection-items .collection-item .collection-item-image img {
  width: 100%;
  height: 100%;
}
.collections .collection-items .collection-item .collection-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5vh;
  max-width: 600px;
}
.collections .collection-items .collection-item .collection-item-content h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: 36px;
}
.collections .collection-items .collection-item .collection-item-content p {
  color: #2c2a28 font-family: 'Lato', sans-serif; font-weight: lighter;;
  font-size: 18px;
  margin-top: 2vh;
}
.collections .collection-items .collection-item .collection-item-content .collection-item-content-button {
  text-transform: uppercase;
  width: 160px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  margin-top: 3vh;
  position: relative;
  cursor: pointer;
}
.collections .collection-items .collection-item .collection-item-content .collection-item-content-button a {
  color: #c0a064;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.collections .collection-items .collection-item .collection-item-content .collection-item-content-button svg {
  position: absolute;
  top: 0;
  left: 0;
}
.collections .collection-items .collection-item .collection-item-content .collection-item-content-button svg rect {
  stroke: #c0a064;
  stroke-width: 1;
  transition: 0.9s;
  stroke-dasharray: 800, 0;
}
.collections .collection-items .collection-item .collection-item-content .collection-item-content-button:hover svg rect {
  stroke-width: 8;
  stroke-dasharray: 40, 295;
  stroke-dashoffset: 55;
}
.collections .collection-items .collection-item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.contact {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh;
}
.contact .contact-form {
  margin-top: 4vh;
}
.contact .contact-form input {
  width: 400px;
  height: 40px;
  border: 1px solid #2c2a28;
  padding: 2vh;
}
.contact .contact-form textarea {
  border: 1px solid #2c2a28;
  padding: 2vh;
  width: 400px;
  height: 180px;
}
.contact .contact-form button {
  padding: 1vh 140px;
  outline: none;
  border: 2px solid #c0a064;
  background-color: rgba(1, 1, 1, 0);
  color: #c0a064;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 3vh;
}
.contact .contact-footer {
  margin-top: 3vh;
  text-align: center;
}
.contact .contact-footer .contact-footer-text {
  margin-top: 3vh;
}
.contact .contact-footer .contact-footer-text p {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #2c2a28;
}
.contact .contact-footer .contact-footer-socIcon {
  margin-top: 3vh;
  display: flex;
  width: 200px;
  justify-content: space-around;
  padding-bottom: 20vh;
}
.contact .contact-footer .contact-footer-socIcon img {
  display: flex;
}
/*# sourceMappingURL=style.css.map */