@import url('https://fonts.googleapis.com/css?family=Lato:300i,700|Playfair+Display:700&display=swap');
.lato-light() {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}
.lato-bold() {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.PlayFair-light() {
  font-family:'Playfair Display', serif;
  font-weight: lighter;
}
.PlayFair-bold() {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}
@white-color : #f8f6f4;
@main-color: #c0a064;
@second-color: #6c6a68;
@black-color: #2c2a28;
*,*:before, *:after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html {
  scroll-behavior: smooth;
}
// Wrapper for page
.wrapper {
  max-width: 1920px - (135px*2);
  margin: 0 auto;
  height: 100%;
}
// Header styles
.header {
  height: 100vh;
  background-image: url(../../assets/images/coverBackground.png);
  background-size: cover;
  background-attachment: scroll;
  // Header background styles:
  .bg {
    width:100%;
    height:100%;
    background-color: rgba(235,235,235,0.8);
    z-index: 10;
    //Header navbar styles:
    .navBar {
      display:flex;
      justify-content: space-between;
      padding:3vh;
      // Header navs styles
      .navBar-navs {
        display:flex;
        //header navs !|nav|! styles
        .navBar-nav {
          margin-left: 3vh;
          // headers navs !|nav|! {a} styles
          a{
            font-size:16px;
            color: @second-color;
            .lato-bold();
            text-decoration: none;
            .active {
              color:@black-color;
            }
          }

        }
        // header navs !|nav|! ACTIVE styles

      }
      // header navbar socialIcons(instagram, facebook, twitter, etc..) styles
      .navBar-socialIcons {
        img{
          margin-right: 3vh;

        }
      }
      // header navbar logo ( MAIN logo ) styles
      .logo{
        margin-right:10vh;
      }
    //end of navbar styles
    }
    // header-content styles
    .header-content{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-content: center;
      width:100%;
      height: 80%;
      // header-content styles for text (name,secondname,surname, position)
      .header-content-text{
        text-align:center;
        // header-content styles for text , h1 ( name, secondname , surname)
        h1{
          color:@main-color;
          .PlayFair-bold();
          font-size:60px ;
        }
        // header-content styles for text, h3 ( position )
        h3 {
          color:@second-color;
          .lato-light();
          font-size:24px;
          margin-top: 4vh;
        }
      }
      // header-button, styles for button on header
      .header-content-button{
        text-transform: uppercase;
        width: 130px;
        height: 65px;
        text-align: center;
        line-height: 65px;
        margin: 8vh auto;
        position: relative;
        cursor: pointer;
        a {
          color: @main-color;
          .lato-bold();
          text-decoration: none;
        }
        // header BUTTON SVG styles
        svg {
          position: absolute;
          top:0;
          left:0;
        & rect {
        stroke : @main-color;
          stroke-width: 1;
          transition: 0.9s;
          stroke-dasharray: 400,0;
        }
        }
        //header-button hover effect on header button
        &:hover {
        svg rect {
          stroke-width: 8;
          stroke-dasharray: 35,245;
          stroke-dashoffset: 40;
         }
        }
      }
    }
  }
}
// Recent works styles ||
.recent {
  padding-top:10vh;
  padding-bottom: 10vh;
  width:100%;
  overflow: hidden;
  background-color: @white-color;
  // Recent works TITLE styles ||
  .recent-title {

    text-align:center;
    padding:7vh;
    h2 {
      font-size: 46px;
      .PlayFair-bold();
    }
  }
  // recent works CARDS styles ||
  .recent-content-cards {
    display:flex;
    flex-flow:wrap;
    justify-content: center;
  // recent works MIDDLE CARD STYLES ||
    .recent-content-middle-card {
      width:770px;
      height:770px;
      display: flex;
      margin-right: 3vh;
    }
    // recent works SMALLS CARD_2 STYLES ||
    .recent-content-smalls-card_02 {
      margin-top: 3vh;
    }
    .recent-content-smalls-card , .recent-content-smalls-card_02{
      width:370px;
      height: 370px;
    }
    // recent works BIGGEST CARD STYLES ||
    .recent-content-biggest-card {
      margin-top: 3vh;

    }
  }
}

// collection styles ||!!
.collections {
  padding: 10vh;
  display: flex;
  //collection title styles ||
  .collections-title {
    padding: 5vh;
    text-align: center;

    h2 {
      font-size: 46px;
      .PlayFair-bold();
    }
  }

  // collection items styles \\
  .collection-items {
    display: flex;
    flex-direction: column;
    // collection items ITEM styles \\ ||
    .collection-item {
      display: flex;

      .collection-item-image {
        width: 600px;
        height: 400px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      // collection ITEMS ITEM CONTENT styles |||
      .collection-item-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5vh;
        max-width: 600px;

        h2 {
          .PlayFair-bold();
          font-size: 36px;
        }

        p {
          color: @black-color .lato-light();
          font-size: 18px;
          margin-top: 2vh;
        }

        // collection ITEM CONTENT BUTTON STYLES
        .collection-item-content-button {
          text-transform: uppercase;
          width: 160px;
          height: 65px;
          text-align: center;
          line-height: 65px;
          margin-top: 3vh;
          position: relative;
          cursor: pointer;

          a {
            color: @main-color;
            .lato-bold();
            text-decoration: none;
          }

          // COLLECTION BUTTON SVG styles
          svg {
            position: absolute;
            top: 0;
            left: 0;

            & rect {
              stroke: @main-color;
              stroke-width: 1;
              transition: 0.9s;
              stroke-dasharray: 800, 0;
            }
          }

          //header-button hover effect on header button
          &:hover {
            svg rect {
              stroke-width: 8;
              stroke-dasharray: 40, 295;
              stroke-dashoffset: 55;
            }
          }
        }
      }

      &:nth-child(even) {
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }
}
.contact {
  height:40vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:10vh;

  .contact-form {
    margin-top: 4vh;
    input {
      width:400px;
      height:40px;
      border:1px solid @black-color;
      padding:2vh;
    }
    textarea {
      border: 1px solid @black-color;
      padding:2vh;
      width:400px;
      height:180px;
    }
    button{
      padding:1vh 140px;
      outline:none;
      border: 2px solid @main-color;
      background-color: rgba(1,1,1,0);
      color:@main-color;
      text-transform: uppercase;
      .lato-bold();
      font-size: 18px;
    }
  }
  .contact-footer {
    margin-top: 3vh;
    text-align:center;
    .contact-footer-text {
      margin-top: 3vh;
      p {
        .lato-light();
        font-size: 18px;
        color:@black-color;
      }
    }
    .contact-footer-socIcon{
      margin-top: 3vh;
      display:flex;
      width:200px;
      justify-content: space-around;
      padding-bottom: 20vh;
      img {
        display:flex;
        color:@black-color;
      }
    }
  }

}



